/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
.container {
    .section {
        
        height: 100px;
        display: flex;
        align-items: center;
        margin: 20px;
        padding: 10px;
    }

    #initial-section {
        background-color: #546595;
        width: $initial-width;
    }

    #middle-section {
        background-color: #111222;
        color: white;
        width: $mid-width;
    }

    #last-section {
        background-color: #525252;
        width: $last-width;
    }
}

//Note: I have applied import and variables, inheritance calling