<div class="container">
  <div class="section" id="initial-section">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti illo iure minima optio!
    Mollitia aut quasi voluptates atque! Quasi aspernatur autem possimus animi, dicta totam nulla excepturi illum
    numquam iusto!<div><button class="initial-btn">initial section</button></div>
  </div>
  <div class="section" id="middle-section">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi dignissimos sint commodi.
    Asperiores, architecto enim harum corrupti numquam recusandae laboriosam sequi illum magni iure, maxime, facere
    voluptatibus? Porro, perspiciatis! Voluptatum.
    <div><button class="middle-btn">Middle button</button></div>
  </div>
  <div class="section" id="last-section">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, reiciendis molestiae ullam in
    fugit a voluptatum facilis vitae aliquid tempora labore laudantium ad consectetur facere. Eaque accusantium culpa
    aut obcaecati?
  <div><button class="last-btn">last button</button></div></div>
</div>